@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
body{
    font-family: 'Comfortaa', sans-serif;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}