@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root{
    --primary-color: #4ADE80;
}
body{
    font-family: 'Comfortaa', sans-serif;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid  var(--primary-color);
}